html {
    font-size: 16px;
    box-sizing: border-box;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.none {
    display: none;
}

.text {
    text-align: center;
    font-size: 2rem;
    color: #514945;
}
