.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 34px auto;
  align-items: center;
  
  .header__menu {
     flex-basis: 413px;
    }
}

@media (max-width: 600px){
  .header {
    margin-top: 15px;
    justify-content: space-between;

    .header__menu {
      flex-basis: 20px;
      position: relative;
      text-align: right;

      &::before {
        content: "";
        position: absolute;
        top: -17px;
        left: -10px;
        width: 30px;
        height: 4px;
        border-width: 10px 0px;
        border-style: double;
        border-color: #fff;
        background: transparent;
      }

      ul {
        display: none;
        position: absolute;
      }
      
      &:hover {
        ul {
          top: 7px;
          right: -1px;
          display: block;
          background-image: linear-gradient(to top, #e32637, #d90647);
          border-top-left-radius: 50px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 0 0 10px;

          a {
            padding: 15px 25px;
            box-sizing: border-box;
            display: block;
            width: 100%;
            
            &:hover {
              text-decoration: none;
              background-color: rgba($color: $white, $alpha: .2);
            }
          }

          .header__border-link {
            border-top-left-radius: 25px 39px;  
          }
        }
      }
    }
  }
}
