*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: 100%;
}

table, th, td{
 border: 1px solid #000; border-collapse: collapse; text-align: center; font-weight: 600;
}
  th, td{
    padding: 5px;
  }
    th{
      font-size: 1.6em;
    }
    td{
      width: 5%;
    }
.head-th{
  width: 5%;
}
.last-th{
  text-align: left;
}