.form {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 30rem;

    .form-input {
        appearance: none;
        border: none;
        outline: transparent;
        color: #000;
        background-color: transparent;
        font-size: 1.0rem;
        width: 64%;
    }
}

.button {
    margin-right: 0.5rem;
}
