.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .form-input {
        appearance: none;
        border: none;
        outline: transparent;
        color: #000;
        background-color: transparent;
        font-size: 1.0rem;
        flex-grow: 1;
    }

    .button {
        flex-grow: 0;
        margin-right: 0.5rem;
    }
}


