<div class="form">
  <input #focusInput required name="inputValue" class="form-input" [disabled]="!editTaskVar" [(ngModel)]="task.title"
    (keyup.enter)="addTask()">
  <button mat-raised-button color="primary" *ngIf="!editTaskVar; else buttonSave" (click)="editTask()"
    class="button">Edit</button>
  <button mat-raised-button color="warn" (click)="deleteTask()" class="button">Delete</button>
</div>
<ng-template #buttonSave>
  <button mat-raised-button color="accent" (click)="saveTask()" class="button">Save</button>
</ng-template>
