.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;



    .from-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 1;

        .button {
            align-self: center;
            flex-grow: 1;
        }

        .margin {
            margin-right: 2.5rem;
        }
    }
}


