.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .form-item {
        margin-right: 2.5rem;

        &.form-item-full {
            margin-right: 0;
        }
    }

    .from-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 1;

        .button {
            align-self: center;
            flex-grow: 1;
        }
    }
}


