.wrap {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin: 0 auto;

    .mat-card {
        min-height: 500px;

        .heading {
            text-align: center;
            margin: 0;
        }
    }
}
